/* GLOBALS */
body {
  font-family: Copperplate;
  background-color: #FDF6E3;
  color: #362700;
}

form {
  margin-bottom: 20px;
}

img {
  width: 65%;
}

#summary {
  margin-top: 20px;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.flexHorizontal {
  display: flex;
  flex-direction: row;
}

/* Button animations */
button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #6c71c4;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
  
button:hover {
  background-color: #3e8e41
}
  
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
